textarea {
    resize: none;
    display:block;
}
label{
    font-size: small;
    display:inline-block;
}

.q_text {
    border: solid 2px #939393;
    color: #000000;
}
#picked_variant {
    margin-top: 5px;
    margin-left: 10px;
    color: #219ac9
}
/*#check {*/
    /*color: #c94344*/
/*}*/

#question {
    margin-left: 10px;
    padding: 7px;
    font-size: medium;
    border: solid 2px cadetblue;
    background: #e2ffed;
}

#online {
    align-content: center;
    background: greenyellow;
    width: 17ex;
    position: absolute;
    top:0;
    right: 0;
}

#offline {
    align-content: center;
    background: red;
    width: 17ex;
    position: absolute;
    top:0;
    right: 0;
}
#test_admin {
    font-size: large;
    margin: 10px;
}

.my_btn {
    margin: 10px;
 }
.var_btn {
    color: #3f51b5;
    width: 45%;
    height: 45%;
}

.framed {
    border: solid 2px cadetblue;
}
#variant_div {

}
#variant_buttons {
    width: 100%;
    float: right;
}


#timer_buttons {
    display: table-column;
    float: left;
}

#question_actions {
    margin-top: 3ex;
    float: left;
}

#preview {
    float: left;
    width: 70%;
}
#preview_buttons {
    float: left;
    width: 50%;
}
#question_preview {
    float: left;
    width: 50%;
}.framed

#question_view {
    align-content: center;
    align-items: center;
}
#control_block {
    height: 55ex;
    margin-top: 4ex;
    width: 60%;
    float: right;
}

#buttons_and_info {
    float: right;
    height: 54ex;
}



#client_screen {
    margin-top: 4ex;
    width: 40%;
    height: 55ex;
    float: left;
}

#buttons_and_info {
    float: right;
    width: 60%;
}

