@import model.Question
@import froms.QForm
@(filePath: String, questions: Seq[Question], qForm: Form[QForm])(implicit messages: Messages)
<!DOCTYPE html>

<html>
    <head>
        <title>"Smart Lift</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/elevico.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/materialize.min.css")">
    </head>
    <body>
        <a href="@routes.WSController.index()">назад</a>
        <p>Путь к файлу с вопросами: @filePath</p>

        @helper.form(action = routes.XLController.uploadFile(), 'enctype -> "multipart/form-data") {
            <input type="file" name="excel">
            <input type="submit" value="Загрузить выбранный файл">
        }

        <div >

        <p><b><span style="font-size: large; ">Cписок "не сыграных" вопросов</span></b></p>

        </div>

        <div class="collection">
        @for(q <- questions.filterNot(_.status == Question.Status.ASKED)) {
            @helper.form(action = routes.XLController.saveOrPick(questions.indexOf(q))) {
                <a href="#!" class="collection-item">
                    <label>№<textarea class="q_text" id="number" rows="2" name="number" cols="1" contenteditable="true">@q.number</textarea></label>
                    <label>Название<textarea class="q_text" rows="2" name="name" contenteditable="true">@q.name</textarea></label>
                    <label>Вопрос<textarea class="q_text" rows="2" name="question" contenteditable="true">@q.question</textarea></label>
                    <label>Вариант 1<textarea class="q_text" rows="2" name="v1" contenteditable="true">@q.variants("1")</textarea></label>
                    <label>Вариант 2<textarea class="q_text" rows="2" name="v2" contenteditable="true">@q.variants("2")</textarea></label>
                    <label>Вариант 3<textarea class="q_text" rows="2" name="v3" contenteditable="true">@q.variants("3")</textarea></label>
                    <label>Вариант 4<textarea class="q_text" rows="2" name="v4" contenteditable="true">@q.variants("4")</textarea></label>
                    <label>Правильный вариант<textarea class="q_text" rows="2" name="v_corr" contenteditable="true">@q.correctVar</textarea></label>
                    <label>Ответ<textarea rows="2" class="q_text" name="answer" contenteditable="true">@q.answer</textarea></label>
                    <label>Сатус<textarea rows="2" class="q_text" name="status" contenteditable="true">@q.status</textarea></label>
                    <br>
                    <button type="submit" name = "proc_q" value="save">Сохранить</button>
                    <button type="submit" name = "proc_q" value="pick">Выбрать</button>
                </a>
            }
        }
        </div>
    </body>
</html>