@import model.Question
@import froms.QForm
@(filePath: String, questions: Seq[Question], qForm: Form[QForm])
<!DOCTYPE html>

<html>
    <head>
        <title>"Smart Lift</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/elevico.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <p>Excel questions</p>
        <p>@filePath</p>

        @helper.form(action = routes.XLController.openFile()) {
            <button type="submit">Выбрать файл</button>
        }

        @helper.form(action = routes.XLController.testFile()) {
            <button type="submit">Test</button>
        }
        @for(q <- questions) {
            @helper.form(action = routes.XLController.save(questions.indexOf(q))) {
                <p>
                    <textarea rows="2" name="q_property" cols="1" contenteditable="true">@q.num</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.name</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.question</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.variants("1").text</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.variants("2").text</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.variants("3").text</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.variants("4").text</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.correctVar</textarea>
                    <textarea rows="2" name="q_property" contenteditable="true">@q.answer</textarea>
                </p>
                <button type="submit">Сохранить</button>
            }
        }
    </body>
</html>