@import model.Question
@import model.api.AdminMessage
@import model.api.Api
@import model.api.ClientState
@(questionString: String)(url: String)

<!DOCTYPE html>

<html>
    <head>
        <title>"Smart Lift</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/elevico.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
            <!--Import materialize.css-->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/materialize.min.css")">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <span id="test_admin">Test Admin</span>


        @helper.form(action = routes.WSController.pickQuestion()) {
            <button class="btn waves-effect waves-light my_btn" type="submit" name="action">Выбрать вопрос
            </button>
        }
        @if(!questionString.equals(Question.NOT_SET)) {
            @helper.form(action = routes.WSController.send) {
                <button class="btn waves-effect waves-light my_btn" type="submit" name="action">Задать
                    <i class="material-icons right">send</i>
                </button>
            }
        }
        <div id="question">
            <u>Текущий вопрос:</u><br>
            @questionString.split("&&").map { s =>
                @s <br>
            }
        </div>
        <label id="picked_variant" style="font-size: medium"></label>
        <label id="check" style="font-size: medium"></label>
        <br>
        @if(!questionString.equals(Question.NOT_SET)) {

            <label for="variant_buttons" style="margin-left: 10px">Выбор варианта ведущим:</label>
            <div id="variant_buttons" style="display: block;">
                <br>
                <a class="waves-effect waves-light btn my_btn var_btn" onclick="telSocket.send('@AdminMessage(Api.Method.PICK_VARIANT, "1").toJson');">
                    Вариант 1
                </a>
                <a class="waves-effect waves-light btn my_btn var_btn" onclick="telSocket.send('@AdminMessage(Api.Method.PICK_VARIANT, "2").toJson');">
                    Вариант 2
                </a>
                <br>
                <a class="waves-effect waves-light btn my_btn var_btn" onclick="telSocket.send('@AdminMessage(Api.Method.PICK_VARIANT, "3").toJson');">
                    Вариант 3</a>
                <a class="waves-effect waves-light btn my_btn var_btn" onclick="telSocket.send('@AdminMessage(Api.Method.PICK_VARIANT, "4").toJson');">
                    Вариант 4</a>
            </div>

            <div id="question-actions" style="display: block;">
                <button class="btn waves-effect waves-light my_btn" onclick="telSocket.send('@AdminMessage(Api.Method.CHECK, "").toJson');">
                    Правлильный вариант</button>
                <button class="btn waves-effect waves-light my_btn" onclick="telSocket.send('@AdminMessage(Api.Method.EXPAND_ANSWER, "").toJson');">
                    Ответ развёрнутый</button>
            </div>

            @helper.form(action = routes.WSController.questionDone()) {
                <button class="btn waves-effect waves-light my_btn" type="submit" name="qaction" value="done">Вопрос сыграл</button>
            }
        }
        @*<img src="@routes.Assets.at("images/screenshot.png")" />*@

        @*<script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.js")'></script>*@
        @*<script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>*@
        <br>
        <div id = "online" style="display: none">
            &nbsp&nbspКлиент Онлайн
        </div>
        <div id = "offline" style="display: none">
            &nbspКлиент Оффлайн
        </div>

        <script type="text/javascript" >
                var telSocket = new WebSocket("@url");
                telSocket.onopen = function () {
                };

                telSocket.onclose = function (event) {
//                    if (event.wasClean) {
//                        alert('Соединение закрыто чисто');
//                    } else {
//                        alert('Обрыв соединения');
//                    }
//                    alert('Код: ' + event.code + ' причина: ' + event.reason);
                };

                telSocket.onmessage = function (event) {
                    var data = event.data;
//                    alert(data);
                    data = JSON.parse(data);
                    if (data.state != undefined) {
                        var state = data.state;
                        if (state == "@ClientState.UP") {
                            document.getElementById("online").style.display = "block";
                            document.getElementById("offline").style.display = "none";
                        }
                        if (state == "@ClientState.DOWN") {
                            document.getElementById("online").style.display = "none";
                            document.getElementById("offline").style.display = "block";
                        }
                    }
                    if (data.variant != undefined) {
                        document.getElementById("picked_variant").innerHTML = "Выбран вариант " + data.variant;
                    }

                    if (data.check != undefined) {
                        var check = data.check;
                        if (check.includes("Правильно")) {
                            document.getElementById("check").style.color = "forestgreen"
                        }
                        if (check.includes("Ошибка")) {
                            document.getElementById("check").style.color = "red"
                        }
                        document.getElementById("check").innerHTML = " --> " + data.check;
                    }
                };

                telSocket.onerror = function (error) {
                    alert("Ошибка " + error.message);
                };

        </script>

        <script src="@routes.Assets.at("javascripts/materialize.min.js")" type="text/javascript"></script>

    </body>
</html>
