@import model.Question
@(questionString: String)

<!DOCTYPE html>

<html>
    <head>
        <title>"Smart Lift</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/elevico.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>

    <body>
        <p>Test server</p>
        @helper.form(action = routes.WSController.pickQuestion()) {
            <input type="submit" value="Выбрать вопрос"/>
        }
        @if(!questionString.equals(Question.NOT_SET)) {
            @helper.form(action = routes.WSController.send) {
                <input type="submit" value="Задать--->"/>
            }
        }

        <u>Текущий вопрос:</u>
        @questionString
        @if(!questionString.equals(Question.NOT_SET)) {
            @helper.form(action = routes.WSController.pickVariant()) {
                <button type="submit" name="send_variant" value="var_1">Variant 1</button>
                <button type="submit" name="send_variant" value="var_2">Variant 2</button>
                <br>
                <button type="submit" name="send_variant" value="var_3">Variant 3</button>
                <button type="submit" name="send_variant" value="var_4">Variant 4</button>
            }

            @helper.form(action = routes.WSController.questionAction()) {
                <button type="submit" name="qaction" value="check">Правлильный вариант</button>
                <button type="submit" name="qaction" value="expand">Ответ развёрнутый</button>
            }
        }

        @helper.form(action = routes.WSController.testScheduler()) {
            <button type="submit" value="testsch">Test Screenshot</button>
        }

            @*<img src="@routes.Assets.at("images/screenshot.png")" />*@


        </body>
</html>
