@(question: String)

<!DOCTYPE html>

<html>
    <head>
        <title>"Smart Lift</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/elevico.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <p>Test server</p>
        @helper.form(action = routes.WSController.pickQuestion()) {
            <input type="submit" value="Выбрать вопрос"/>
        }
        @if(!question.equals("NOT SET")) {
            @helper.form(action = routes.WSController.send(question)) {
                <input type="submit" value="Задать--->"/>
            }
        }

        <p><u>Current question:</u></p>
        <p>@question</p>

        @if(!question.equals("NOT SET")) {
            @helper.form(action = routes.WSController.pickVariant()) {
                <button type="submit" name="send_variant" value="var_1">Variant 1</button>
                <button type="submit" name="send_variant" value="var_2">Variant 2</button>
                <br>
                <button type="submit" name="send_variant" value="var_3">Variant 3</button>
                <button type="submit" name="send_variant" value="var_4">Variant 4</button>
            }

            @helper.form(action = routes.WSController.questionAction()) {
                <button type="submit" name="qaction" value="check">Правлильный вариант</button>
                <button type="submit" name="qaction" value="expand">Ответ развёрнутый</button>
            }
        }

        @helper.form(action = routes.WSController.testScheduler()) {
            <button type="submit" value="testsch">testScheduler</button>
        }
        <img src="@routes.Assets.at("images/screenshot.png")"  />


    </body>
</html>
