@import model.Question
@(q: Question)
<div id="question_view">
    <span style="font-size: medium"><b>№@q.number - </b></span>
    <span style="font-size: medium"><b>@q.name</b></span>
    <p>Текст: @q.question</p>
    <p>Ответ: @q.answer</p>
    <div id="vars_in_preview">
        <label id="1" class="var_in_preview">@q.variants("1")</label> <label class="var_in_preview" id="2">@q.variants("2")</label>
        <br>
        <label id="3" class="var_in_preview">@q.variants("3")</label> <label class="var_in_preview" id="4">@q.variants("4")</label>
    </div>

    <script type="application/javascript">
        document.getElementById("@q.correctVar").style.background = "green"
    </script>

</div>