@import model.Question
@(q: Question)
<div id="question_view">
    <span style="font-size: medium"><b>№@q.number - </b></span>
    <span style="font-size: medium"><b>@q.name</b></span>
    <p>@q.question</p>
    <p>Ответ: @q.answer</p>
    <p><span id="1">@q.variants("1")</span> || <span id="2">@q.variants("2")</span></p>
    <p><span id="3">@q.variants("3")</span> || <span id="4">@q.variants("4")</span></p>

    <script type="application/javascript">
        document.getElementById("@q.correctVar").style.background = "green"
    </script>

</div>